PORT=3030

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=user_management_db

SUPER_ADMIN_FIRSTNAME=
SUPER_ADMIN_LASTNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=1h